@import "tailwindcss";

:root {
  font-family: "Source Code Pro", monospace;
}

.bg-dots {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.12) 1px, transparent 1px);
  background-size: 20px 20px; /* separacion entre puntos */
  background-position: 0 0;
}

.pfp-img.show {
  opacity: 1;
  transform: translateY(0);
}

.pfp-img.fade-out {
	opacity: 0 !important;
	transform: translateX(200px) !important;
}

.pfp-img {
  position: absolute;
  bottom: 0px;
  right: 70px;
  width: 425px;
  height: auto;
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1s ease, transform 1s ease;
}
@media (min-width: 1500px) {
  .pfp-img {
    width: 500px;
    right: 30px;
  }
}

/* 游늷 Pantallas entre 1024px y 1280px (laptops est치ndar) */
@media (max-width: 1280px) {
  .pfp-img {
    width: 400px;
    right: 30px;
  }
}

/* 游늷 Tablets landscape (entre 768px y 1024px) */
@media (max-width: 1024px) {
  .pfp-img {
    width: 280px;
    right: 20px;
  }
}

/* 游늷 Tablets vertical y m칩viles grandes (entre 640px y 768px) */
@media (max-width: 768px) {
  .pfp-img {
    width: 220px;
    right: 10px;
    bottom: 10px;
  }
}

/* 游늷 M칩viles medianos (entre 480px y 640px) */
@media (max-width: 640px) {
  .pfp-img {
    width: 180px;
    right: 5px;
    bottom: 0;
    transform: translateY(100px);
  }
}

/* 游늷 M칩viles peque침os (<480px) */
@media (max-width: 480px) {
  .pfp-img {
    width: 150px;
    right: 0px;
    bottom: 0px;
    transform: translateY(80px);
  }
}

