---
import { useTranslations } from '../i18n/utils';

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div
	id="container"
	class="min-h-[100dvh] flex flex-col justify-center pl-0 md:pl-4 space-y-6"
>
	<h1 class="text-5xl md:text-7xl font-bold text-left flex gap-2">
		<span id="typed-name"></span><span id="cursor">|</span>
	</h1>

	<h2 id="dev-title" class="text-3xl opacity-0 transition-opacity duration-700">
		{t('hero.role')}
	</h2>
	<!-- <button class="hover:bg-[#585919] cursor-pointer p-1 absolute rounded-2xl left-1/2 bottom-3 animate-bounce">
		<svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 16"><path fill="currentColor" d="M4.5 13c-.28 0-.5-.22-.5-.5v-9c0-.28.22-.5.5-.5s.5.22.5.5v9c0 .28-.22.5-.5.5"/><path fill="currentColor" d="M4.5 14a.47.47 0 0 1-.35-.15l-3.5-3.5c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.15 3.15l3.15-3.15c.2-.2.51-.2.71 0s.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z"/></svg>
	</button> -->
	<img
		id="pfp"
		src="/fotos/pfp2.png"
		alt={t('hero.alt')}
		class="pfp-img"
	/>
</div>

<script>
	const nameText = "Enric Martin Vila";
	const speed = 80;
	let index = 0;

	function typeWriter() {
		const target = document.getElementById("typed-name");
		const cursor = document.getElementById("cursor");

		if (index < nameText.length) {
		if (!target) return;
			target.textContent += nameText.charAt(index);
			index++;
			setTimeout(typeWriter, speed);
		} else {
			// remove the cursor immediately
			if (cursor) cursor.remove();

			// fade in dev title
			const devTitle = document.getElementById("dev-title");
			if (devTitle) {
				devTitle.style.opacity = "1";
			}
		}
	}

	setTimeout(() => {
		const pfp = document.getElementById("pfp");
		if (pfp) pfp.classList.add("show");
	}, 300);

	window.addEventListener("scroll", () => {
		const pfp = document.getElementById("pfp");
		const triggerPoint = 50; // scroll en px para empezar a ocultar
		if (pfp == null) return;
		if (window.scrollY > triggerPoint) {
			pfp.classList.add("fade-out");
		} else {
			pfp.classList.remove("fade-out");
		}
	});
	typeWriter();
</script>
